---
const currentYear = new Date().getFullYear()
---

<footer class="mt-16 mb-10 w-full">
  <p class="text-center text-sm text-zinc-800/90 dark:text-zinc-200/90">
    &copy; {currentYear} José Leyva. All rights reserved.
  </p>
</footer>
